body{
    background-color: black;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    min-width: 100%;
    background-color: aliceblue;
    border-radius: 50px;
    text-align: center;
    display: flex;
    height: 300px;
    margin-bottom: 5%;
}

header .title{
    margin: 3%;
    border-radius: 50px;
    
}

header .title .data-container{
    border-radius: 25px;
    border: 1px solid black;
}

header .photo-container{
    width: 160px;
    height: 160px;
}

header img{
    width: 150px;
    border-radius: 50px;
}

header img:hover {
    transition: width 0.03s;
    width: 160px;
}

header .extra-information{
    overflow: hidden;
    max-height: 300px;
    margin-top: 70px;
    margin-right: 70px;
    transition: max-width 0.4s;
}


header .extra-information a img{
    width: 34px;
}

header .extra-information a img:hover{
    width: 36px;
}

.hidden{
    max-width: 0%;
    max-height: 0%;
}

.shown{
    max-width: 100%;
}


main{
    display: inline-flex;
    color: black;
    width: 100%;
    font-size: 21px;
    margin-bottom: 5%;
}

main section{
    margin-right: 4%;
    min-width: 60%;
    background-color: aliceblue;
    border-radius: 24px;
    text-align: center;
}

main section .proyectos{
    display: flex;
}

main section .proyecto{
    margin: 25px;
    border: 1px solid black;
    border-radius: 15px;
    width: 160px;
}

main section .proyecto img{
    width: 100px;
    border-radius: 15px;
}



main aside{
    margin-left: 4%;
    min-width: 30%;
    background-color: aliceblue;
    border-radius: 24px;
    text-align: center;
}

main aside ul{
    text-align: left;
    font-size: 11px;
}


footer{
    color: black;
    width: 100%;
    font-size: 21px;
    background-color: aliceblue;
    border-radius: 50px;
    text-align: center;
}



footer .campo{
    margin: 25px;
    display: flex;
    width: 90%;
}

footer .campo input{
    height: 25px;
    align-self: center;
    font-size: 25px;
    margin-left: 15px;
    width: 80%;
}

footer .campo textarea{
    resize: none;
    height: 120px;
    align-self: center;
    font-size: 15px;
    margin-left: 15px;
    width: 80%;
}

footer button{
    margin: 25px;
    width: 85px;
    height: 35px;
    border-radius: 50px;

}

